* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
/************************************************************/
/* TAG */
/************************************************************/
body{
    background-color: rgb(236, 236, 236);
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

ul{
    /* list-style: none; */
    /* margin-left: 30px; */
}

li{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
}

/* ul{
    list-style: none;
} */
/************************************************************/
/* ID */
/************************************************************/
#main-logo{
    vertical-align: middle;
    margin-left: 20px;
} 
/************************************************************/
/* CLASS */
/************************************************************/
.container{
    background-color: white;
}

.line-height-header{   
    display: block;
    line-height: 70px;
}

.sub-container{
    border-radius: 7px;
    padding: 30px;
}

.container-button{
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.button{
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 8px;
    
}

.selcted-button{
    color: white;
    background-color: lightskyblue;
}

.unselcted-button{
    color: rgb(194, 194, 194);
    border: 1px solid rgb(194, 194, 194);
}

.text-margin-top{
    margin-top: 15px;
}

.label-item{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}

.blue-color-label{
    background-color: lightskyblue;
}

.violet-color-label{
    background-color: rgb(143, 81, 143);
}

.green-color-label{
    background-color: rgb(13, 255, 13);
}

.orange-color-label{
    background-color: orange;
}

.pink-color-label{
    background-color: pink;
}

.greenyellow-color-label{
    background-color: greenyellow;
}

.checked-item{
    list-style-image: url(../img/check.png);
}

.unchecked-item{
    list-style-image: url(../img/cross.png);
}